altgraph==0.17.4
comtypes==1.2.0
CTkMessagebox==2.5
customtkinter==5.2.1
darkdetect==0.8.0
greenlet==3.0.1
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
pypiwin32==223
pyttsx3==2.90
pywin32==306
pywin32-ctypes==0.2.2
setuptools==69.0.2
SQLAlchemy==2.0.23
typing_extensions==4.8.0
