bottle==0.12.25
cffi==1.16.0
clr-loader==0.2.6
mypy==1.7.1
mypy-extensions==1.0.0
Pillow==10.1.0
proxy-tools==0.1.0
pycparser==2.21
PyMySQL==1.1.0
pythonnet==3.0.3
pywebview==4.4.1
ttkbootstrap==1.10.1
typing_extensions==4.8.0
